h1,h2{
      margin-left: 20px;
    }
    .textarea{
      width:95%;
      margin-left: 20px;
      border: solid 5px #61dbfb;
    }
    #uppertag{
      margin-left: 25%;
    }
    .btn-submit{
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 20px;
      align-items: center;
      margin-top: 15px;
      font-weight: 700;
      transition: all;
      transition-timing-function: ease-in-out;
      transition-duration: 0.5s;
      height:30px;
      width:auto;
      border: none;
      border-radius: 10px;
      background-color: black;
      color: #61dbfb;
    }
    .btn-submit:hover{
      background-color: #61dbfb;
      color: black;
    }
    .container>p{
      margin-left: 20px;
    }
    
    
    